@font-face {
	font-family: mastodon-font-nasin-nanpa;
	src:
	  local('nasin nanpa'),
	  url('~fonts/nasin-nanpa/nasin-nanpa.woff2') format('woff2'),
	  url('~fonts/nasin-nanpa/nasin-nanpa.woff') format('woff'),
	  url('~fonts/nasin-nanpa/nasin-nanpa.ttf') format('truetype'),
	  url('~fonts/nasin-nanpa/nasin-nanpa.otf') format('opentype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
  }
  